{% extends 'app_general/components/base.html' %}
{% block site_title %}About | {% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">About JunRider</h2>
        <h4>Establish 2024</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A erat nam at lectus urna. Proin sed libero enim sed faucibus turpis in eu mi. Id eu nisl nunc mi ipsum faucibus vitae. Urna condimentum mattis pellentesque id nibh tortor id. Mauris rhoncus aenean vel elit scelerisque. Id volutpat lacus laoreet non curabitur gravida arcu. Sit amet nulla facilisi morbi. Scelerisque viverra mauris in aliquam sem fringilla ut morbi.
        </p>
        <h4>Top quality ingredients</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A erat nam at lectus urna. Proin sed libero enim sed faucibus turpis in eu mi. Id eu nisl nunc mi ipsum faucibus vitae. Urna condimentum mattis pellentesque id nibh tortor id. Mauris rhoncus aenean vel elit scelerisque. Id volutpat lacus laoreet non curabitur gravida arcu. Sit amet nulla facilisi morbi. 
        </p>
        <h4>About Junriman</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A erat nam at lectus urna. Proin sed libero enim sed faucibus turpis in eu mi. Id eu nisl nuvitae. Urna condimentum mattis pellentesque id nibh tortor id. Mauris rhoncus aenean vel elit scelerisque. Id volutpat lacus laoreet non curabitur gravida arcu. Sit amet nulla facilisi morbi.
        </p>
        
    </div>
 </section>
{% endblock %}