{% extends 'app_general/components/base.html' %}
{% block site_title %}Thankyou for subscription | {% endblock %}

{% block content %}

<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h2 class="content-title">Thankyou for subscription</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A arcu cursus vitae congue mauris. 
        </p>

    
        <a class="button button-primary" href="{% url 'home' %}">return to home</a>


    </div>
</section>

    

{% endblock %}